@model PizzaPartyStore.Models.PizzaParty

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Model.DisplayText;
}

<h1>@Model.PizzaName</h1>
<h2>Cost $ @Model.PizzaCost</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Toppings.Length > 0)
{
	<h5>Toppings:</h5>
	<div>
		<ul>
			@foreach (var topping in Model.Toppings)
			{
			<li>@topping.Role: @topping.Name</li>
			}
		</ul>
	</div>
}
